body {
  margin: 0;
  min-width: 1100px;
}

header {
  height: 80px;
  background: #282828;
}

.header {
  max-width: 1100px;
  margin: auto;
  height: 80px;
  background: #282828;
}

.wrapper {
  max-width: 1100px;
  margin: auto;

  padding:0;
  background: #f7f7f7;
}

.logo {
  margin: 30px 10px 0 10px;
  color: #3d3d3d;
  font-family: 'Oswald', Impact, sans-serif;
  font-weight: normal;
  font-size: 32px;
  width: 170px;
  float: left;
}

.footer-left ul {
  margin-top: 37px;
  width: 350px;
  float: left;
  padding-left: 0;
}

.footer-left li {
  display: inline-block;
  padding-right: 20px;

}

.footer-left a {
  text-decoration: none;
  color: white;
  font-family:  'Oswald', Impact, sans-serif;
  font-weight: lighter;
  
}

.footer-left .selected {
  border-bottom: 19px solid #1ac7c3;
}

.footer-left .unselected:hover {
    border-bottom: 19px solid #1ac7c3;
}

.footer-right ul {
  margin-top: 37px;
  width: 250px;
  float: right;
  padding-left: 0;
}

.footer-right li {
  display: inline-block;
  padding-right: 10px;
}

.footer-right a {
  text-decoration: none;
  color: white;
  font-family: Times, Arial, sans-serif;
  font-style: italic;
  font-size: 13px;
}

.footer-right .selected {
  color: #1ac7c3;
}

.left-column {
  float: left;
  width: 730px;
}

.right-column {
  margin-left: 730px;
}

footer {
  background: #282828;
}

.bottom-news, .top-news {
  border-left: 2px solid #e6e6e6;
  border-right: 2px solid #e6e6e6;
}

.featured-image {
    width: 1100px;
    height: 450px;
    background-image: url("../f.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

background: -moz-linear-gradient(-45deg, rgba(161,107,159,0.70) 0%, rgba(90,149,113,0.70) 50%, rgba(246,168,94,0.70) 100%), url("../f.jpg") no-repeat; /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(161,107,159,0.70)), color-stop(50%,rgba(90,149,113,0.70)), color-stop(100%,rgba(246,168,94,0.70))), url("../f.jpg") no-repeat; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, rgba(161,107,159,0.70) 0%,rgba(90,149,113,0.70) 50%,rgba(246,168,94,0.70) 100%), url("../f.jpg") no-repeat; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, rgba(161,107,159,0.70) 0%,rgba(90,149,113,0.70) 50%,rgba(246,168,94,0.70) 100%), url("../f.jpg") no-repeat; /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, rgba(161,107,159,0.70) 0%,rgba(90,149,113,0.70) 50%,rgba(246,168,94,0.70) 100%), url("../f.jpg") no-repeat; /* IE10+ */
background: linear-gradient(135deg, rgba(161,107,159,0.80) 0%, rgba(90, 149, 113,0.80) 50%, rgba(246, 168, 94,0.80) 100%), url("../f.jpg") no-repeat;/* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a16b9f', endColorstr='#f6a85e',GradientType=1 ), url("../f.jpg") no-repeat; /* IE6-9 fallback on horizontal gradient */

}